<div id="adminnav" class="p-3 pt-4">
	<div class="mb-4">
		<button type="button" class="btn btn-primary btn-sm closeadminnav">Fermer</button>
	</div>
	<div>
		<a href="/admin/photos">Photos</a>
	</div>
	<div>
		<a href="">Videos</a>
	</div>
	<div>
		<a href="/logout">Déconnexion</a>
	</div>
</div>