<%- include('./inc/header'); %>

<div id="adminlogin">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-4">
				<form action="/admin" method="post">
					<% if(msgalert != ""){ %>
						<div class="alert alert-danger">
							<%= msgalert %>
						</div>
					<% } %>
					<div class="form-group">
					    <label for="email">E-mail</label>
					    <input type="text" class="form-control" id="email" name="email">
					</div>
					<div class="form-group">
					    <label for="password">Mot de passe</label>
					    <input type="password" class="form-control" id="password" name="password">
					</div>
					<button type="submit" class="btn btn-primary btn-sm">Envoyer</button>
				</form>
			</div>
		</div>
	</div>
</div>

<%- include('./inc/footer'); %>